*{
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Verdana, sans-serif;
  font-optical-sizing: auto;
  font-size: 15px;
  text-align: center;
}

#container {
  border: 1px 1px;
  border-color: black;
  border-radius: 5px;
  border-style: groove;
}

p {
  border: 1px 1px;
  border-color: black;
  border-radius: 5px;
  border-style: groove;
}